* {
    position: relative;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  body {
    font-family: 'Russo One', arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }

  .bg-audio-control {
    color: #f77;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 5%;
    padding: 2.5% 0;
  }

  .hide {
    display: none;
  }